body {
}

code {
}

.collection-item.avatar.rented {
    filter: saturate(15%);
}

.collection-item.avatar {
    user-select: none;
}

form button {
    width: 100px;
    margin-top: 0.5em;
}

ul li a.active {
    filter: invert(1);
}
